@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
/*@import url(https://fonts.googleapis.com/css?family=Playball);*/

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

p{  
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    line-height: 20px;
    font-weight: 100;
}

*{
    outline-color: transparent !important;
}

/*===== common ====*/
.bg-color{
    background-color: #4A6BB5 !important;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-l-0{
    padding-left: 0;
}

.p-l-r-0{
    padding-left: 0;
    padding-right: 0;
}

.small-tag {
    color: #777;
    font-family: "Raleway",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h2.section-title{
    text-transform: uppercase;
    color: #4C4C4C;
    margin-top: 0; 
    font-family: "Raleway",sans-serif;
    margin-bottom: 30px;
    word-spacing: 5px; 
    font-size: 30px;
    font-weight: 700;  
}

.section-para{
    color: #999;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.btn.btn-default{
    background-color: #4A6BB5;
    color: #fff;
    border-color: #4A6BB5;
    border-radius: 0; 
    padding: 10px 20px; 
    text-transform: uppercase;
    word-spacing: 3px;
    font-size: 13px;
    margin: 5px; 
}

.btn.btn-primary{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 0; 
    padding: 10px 20px; 
    text-transform: uppercase; 
    font-size: 13px
}

.btn.btn-default:hover,
.btn.btn-primary:hover{
    background-color: #121212;
    border-color: #121212;
    color: #fff;
}

.btn.btn-primary,
.btn.btn-default,
.what-we-do .do-box,
.service-overflow {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.service-overflow,
single-work span i.fa,
.intro{
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}

/*===== header ====*/
/* menu */
.navbar.default-menu{
    border-radius: 0; 
    border: 0; 
    margin-bottom: 0;
    min-height: 70px; 
    background-color: #fff;
    border-bottom: 2px solid #0CB88E;
    box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
    -moz-box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
}

.default-logo i.fa{
    float: left; 
    font-size: 50px;
    line-height: 0.8; 
    margin-right: 10px;
}

.default-logo {
    font-family: "Oswald",sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
}

.default-menu.navbar-default .navbar-toggle {
    border-radius: 0; 
    border-width: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.default-menu.navbar-default .navbar-nav > li > a{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 40px !important;
    font-family: "Raleway",sans-serif;
    letter-spacing: 0.3px;
    padding: 15px 20px;
    text-transform: uppercase;
}

.default-menu.navbar-default .navbar-nav > li:last-child > a{
    padding-right: 0;
}

.default-menu.navbar-default .navbar-nav > li > a i{
    position: relative;
    line-height: 40px;
}

.default-menu.navbar-default .navbar-nav > li > a:active, 
.default-menu.navbar-default .navbar-nav > li > a:focus, 
.default-menu.navbar-default .navbar-nav > li > a:hover{
    color: #4A6BB5;
}

.default-menu.navbar-default .navbar-nav > .active > a, 
.default-menu.navbar-default .navbar-nav > .active > a:focus, 
.default-menu.navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: #4A6BB5;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #4A6BB5;
}

.default-menu .dropdown-menu{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: #333;
    min-width: 200px; 
    margin-top: 2px !important;
    padding: 0;
}

.default-menu .dropdown-menu > li > a {
    color: #999;
    font-weight: 400;
    line-height: 1.42857;
    padding: 15px 20px;
    font-size: 11px; 
    text-transform: uppercase; 
    left: 0.3px; 
    word-spacing: 3px; 
    font-weight: 600
}

.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    background-color: #333333;
    color: #fff;
    text-decoration: none;
}

.btn.btn-default.navbar-btn{
    background-color: transparent;
    color: #999; 
    margin-top: 16px;
    border-radius: 4px;
    padding: 8px 25px;
    border: 1px solid #eee; 
}

.btn.btn-default.navbar-btn:hover{
    color: #fff;
    background-color: #4A6BB5;
    border-color: #4A6BB5;
}
    


/* media quaries */
@media screen and (max-width: 768px){
    .default-menu.navbar-default .navbar-nav > li > a{
        line-height: 12px;
    }
    
    .default-menu .navbar-nav > li .nav-search{
        border-color: rgba(153, 153, 153, 0.1);
    }
    
    .nav-search .form-control{
        text-align: center;
        width: 100%;
        padding-left: 40px;
        padding-right: 20px;
    }
    
    .nav-search .form-group i {
        color: #999;
        font-size: 12px;
        left: 20px;
    }
    
    .default-menu.navbar-default .navbar-nav > li:last-child > a{
        padding-left: 20px !important;
    }
    
    .default-menu.navbar-default .navbar-nav > li:first-child > a{
        padding-left: 20px !important;
    }
}

.default-menu.menu-4{
    border-bottom: 0;
}

.default-menu.menu-4 .default-logo{
    color: #4A6BB5;
}

.default-menu.menu-4 .navbar-nav > li > a{
    color: #999;
}

.default-menu.menu-4 .navbar-nav > li > a:before,
.default-menu.menu-4 .navbar-nav > li > a:after{
    color: transparent;
    font-size: 13px;
    position: absolute;
    transition: all 0.5s ease-in-out; 
    margin-top: -1px;
}



.default-menu.menu-4 .dropdown-menu{
    margin-top: 0 !important;
}

@media screen and (max-width: 768px){
    .default-menu.menu-4 .navbar-nav > li > a:hover:after,
    .default-menu.menu-4 .navbar-nav > li > a:hover:before{
        color: transparent; 
    }
}

/*===== intro ====*/
.intro{
    height: 650px;
    background: url("../images/intro.jpg") no-repeat scroll top center/ cover;
}

.intro-content > h1 {
    color: #fff;
    font-family: "Lobster",cursive;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
    word-spacing: 6px;
} 

.intro-content > a > i.lnr{
    font-size: 10px;
    margin-left: 5px;
}

.intro-content > p {
    color: #f8f8f8;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 15px;
    max-width: 550px;
}

.intro .carousel-indicators {
    bottom: 0;
    margin-bottom: -20%;
}

.intro .carousel-indicators li {
    background-color: #4A6BB5;
    border: 2px solid #4A6BB5;
    height: 15px;
    width: 15px;
    margin: 4px;
}

.intro .carousel-indicators .active {
    background-color: #fff;
    border: 3px solid #fff !important;
    height: 13px;
    margin: 5px;
    width: 13px;
}

/*===== our-sponsors ====*/
.sponsors img{
    border: 1px solid #eee;
    border: 1px solid #eee;
    height: 55px; 
    padding: 5px 0
}

/*===== what we do ====*/
.what-we-do{
    padding-bottom: 55px;
    padding-top: 80px;
}

.what-we-do .do-box{
    border: 1px solid transparent;
    position: relative;
    margin-bottom: 45px;
}

.do-box i{
    margin: 0 auto;
    text-align: center;
}

.do-box i.lnr {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    color: #4A6BB5;
    float: left;
    font-size: 18px;
    height: 55px;
    margin-top: -10px;
    padding-top: 18px;
    position: absolute;
    width: 55px;
}

.do-box h3{
    margin-top: 60px;
    margin-bottom: 20px; 
    color: #000; 
    font-size: 25px;
}

.do-box p {
    color: #aaa;
    margin: 0 0 40px;
    max-width: 250px;
}

.do-box.bg-color i.lnr{
    color: #4A6BB5;
    border-color: #4A6BB5;
}


/*===== about us ====*/


/*===== about us ====*/
.about-us{
    background-color: #121212;
    padding-bottom: 0;
    padding-top: 0;
}

.about-content{
    margin: 60px 0 30px 20px;
}

.about-content h2.section-title {
    color: #4A6BB5;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
    word-spacing: 5px;
    max-width: 535px;
    line-height: 1.5;
    
}

.about-content > p{
    color: #707070;
    font-weight: 100;
    line-height: 20px;
    max-width: 535px;
}

.about-us img, .carousel-inner > .item > img{
    height: 400px;
}

.about-us .ytp-title-link, .ytp-title-channel-name {
    opacity: 0;
}

/*===== our service ====*/

.work{
    padding-bottom: 0;
}

.work .single-work img{
    width: 100%;
}

.single-work{
    position: relative;
}

.single-work img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.owl-theme .owl-controls .owl-page span {
    background: #4A6BB5;
    opacity: 0.3;
    border-radius: 0;
    height: 4px;
    width: 25px;
    -moz-transform: skewX(-45deg) skewY(0deg);
    -webkit-transform: skewX(-45deg) skewY(0deg);
    -o-transform: skewX(-45deg) skewY(0deg);
    -ms-transform: skewX(-45deg) skewY(0deg);
    transform: skewX(-45deg) skewY(0deg);
}

.owl-theme .owl-controls {
    margin-top: 35px;
}

.service-overflow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.single-work:hover .service-overflow{
    opacity: 1;
}

.service-overflow h3{
    color: #4A6BB5;
    margin-top: 0;
}

.service-overflow p{
    color: #888;
    margin: 0 auto;
    max-width: 260px;
}

.work-links .fa {
    background: #4A6BB5 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    padding-top: 16px;
    text-align: center;
    width: 50px;
}

.work-links .fa:hover {
    background-color: #f0f0f0;
    color: #121212;
}

.work-links.list-inline > li {
    display: block;
}

/*
.single-work span i.fa{
    color: #fff; 
    font-size: 15px;
    position: absolute;
    text-align: center;
}

/*===== extra feature ====*/
.extra-feature{
    padding-top: 100px;
    overflow: hidden;
}

.extra-feature .section-title{
    line-height: 1.3;
}

.extra-feature .section-title > span{
    color: #4A6BB5;
}

.extra-feature p{; 
    margin-bottom: 30px;
}

.extra-feature .btn.btn-default{
    margin-bottom: 30px;
}

.e-feature{
    position: relative;
    height: 280px;
}

.feature-img {
    bottom: 0;
    top: 30px;
    width: 100%;
}

.platform{
    margin-bottom: 60px;
}

.platform.list-inline > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.platform .fa {
    background: transparent;
    border: 2px solid #4A6BB5;
    border-radius: 4px;
    color: #4A6BB5;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    width: 53px;
}

/*===== our experts ====*/
.our-experts{
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #F7F7F7;
}

.our-experts .section-title{
    margin-top: 30px;
}

.our-experts p{
    margin-bottom: 25px;
}

.our-experts .btn.btn-primary{
    margin-bottom: 30px;
}

.our-experts .expert-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-experts .expert-box img {
    border: 4px solid #ddd;
    margin-bottom: -20px;
    max-width: 200px;
}

.expert-overflow .list-inline > li {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

.our-experts .expert-box:hover .expert-overflow .fa{
    opacity: 1;
}

.expert-overflow .fa{
    color: #fff;
    opacity: 0;
    cursor: pointer;
    background-color: #2A2829; 
    width: 40px; 
    height: 40px;
    font-size: 13px; 
    padding-top: 11px; 
    border: 2px solid #ccc;
}
h3.expert-name {
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: 0;
    font-size: 18px;
    text-transform: uppercase;
}

strong.expert-tag{
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
}

/*===== talk about us ====*/
.talk-about-us{
    padding-bottom: 110px;
    padding-top: 100px;
}

.talk-about-us strong{
    color: #4A6BB5; 
    font-weight: 600;
    font-style: italic;
}

.talk-about-us .item > img{
    width: 80px; 
    height: 80px; 
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.talk-about-us .item > p{
    max-width: 650px; 
    margin: 0 auto; 
    line-height: 1.9;  
    margin-bottom: 20px;
}

.talk-about-us .carousel-indicators > li {
    background-color: #dcdcdc;
    border: 0 none;
    height: 10px;
    margin: 1px;
    width: 10px;
    border-radius: 0;
    margin: 0 5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.talk-about-us .carousel-indicators li.active {
    background-color: #4A6BB5;
}

.talk-about-us .carousel-indicators {
    bottom: -70px;
}

/*===== our client ====*/
.support{
     background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.support .media-left, .media > .pull-left {
    padding-right: 25px;
}

.support strong{
    color: #fff;
    margin-bottom: 10px;
    display: block; 
    font-size: 17px; 
    line-height: 1;  
    text-transform: uppercase; 
    font-weight: 600;
}

.support p{
    color: #eee;
    font-size: 13px;
    letter-spacing: -0.4px;
}

/*===== contact ====*/
.contact{
    padding-top: 90px;
}

.contact .section-title{
    margin-bottom: 30px;
}

.contact .border{
    margin-bottom: 45px;

}

/* border */
.border{
    position: relative;
    margin-bottom: 60px;
    display: inline-block;
}

.border-l-r{
    font-size: 24px; 
    color: #4A6BB5;
    position: absolute;
}

.border-l-r .lnr,
.border-l-r .fa {
    position: relative;
    top: -8px;
    left: -10px;
}

.border-l-r::after {
    background-color: #e6e6e6;
    content: "";
    height: 2px;
    left: 30px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 40px;
}

.border-l-r::before {
    background-color: #e6e6e6;
    content: "";
    height: 2px;
    right: 50px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 40px;
}


.contact .form-group .btn.btn-default {
    background-color: transparent;
    border-color: #ccc;
    color: #121212;
    font-weight: 600;
    margin: 0;
}
    
.contact .form-group{
    margin-bottom: 22px;
}

.contact .form-control {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    font-size: 13px;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
}

.contact .textarea{
    min-height: 130px !important;
    width: 100% !important;
}

.social-links{
    margin-bottom: 45px;
}
.social-links .fa{
    background: #4A6BB5;
    color: #fff;
    width: 35px;
    height: 35px;
    padding-top: 11px;
    text-align: center; 
    border-radius: 50px; 
    cursor: pointer;  
}

/*===== footer ====*/
.footer{
    background-color: #121212;
    padding: 5px 0; 
}

.footer p{
    color: #707070;
    color: #aaa;
    line-height: 2.5;
    font-size: 10px; 
    margin-bottom: 0px
}

.footer span i.lnr {
    background-color: #4A6BB5;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 16px;
    height: 30px;
    margin-top: 0;
    padding: 7px;
    width: 30px;
}