/*
Author URI: http://webthemez.com/
Email: webthemez@gmail.com
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #F3F3F3;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
::selection {
	color: #fff;
	background: #FFDF00;
}

::-moz-selection {
 color: #fff;
 background: #FFDF00;
}
p {
	color: #858585;
	margin: 0 0 1em !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family:36px 'Open Sans', sans-serif;
}
.fitImage {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.animated {
	/* -webkit-animation-duration: 1s; */
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.mcbook {
	opacity: 0;
}
.show {
	opacity: 1;
}
.pDark p {
	color: #6D6D6D;
}
h6{
	font-size:14px;
}
.dataTxt ul li{
	list-style:none;
	line-height:30px;
}
.listArrow li{
background: url('../images/links-arrow.png') 0px 12px no-repeat;
padding-left:15px;
}
.progress {
height: 12px;
border-radius:0px;
}
.progress .progress-bar.progress-bar-red {
background: #F76E26;
}
.progress .progress-bar.progress-bar-green {
background: #51D4B6;
}
.progress .progress-bar.progress-bar-lblue {
background: #9FDE32;
}
.feature a {
display: inline-block;
font-size: 18px;
color: #fff;
background: #FFDF00;
margin-right: 20px;
width: 220px;
text-align: center;
line-height: 41px;
/* border-radius: 10px; */
}
#Features img{
	width:58px;
}
#Features .circle{width:120px;height:90px;display:inline-block;background: transparent;font-size: 54px;}
#Features .circle:hover { 
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}
.pDark h3 {
	color: #BEBEBE;
}
.btn {
	color:#000;
	background: #FFDF00;
}
.btn:hover {
	 color:#444 !important;
	background:#E0C400;
}
 a:hover {
	color: #FEDE01 !important;
	}
.btn{
display: inline-block;
padding: 8px 12px;
	}
.btn, .form-control, .team-socials i {
	border-radius: 0px !important;
}
.form-group {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 75%;
}
.form-control {
	outline: none;
	color: #5A5A5A;
	margin: 0;
	max-width: 100%;
	background: #fff;
	font-size: inherit;
	border-radius: 0px !important;
	width: 99%;
	padding: 12px 10px;
	border: 1px solid #FFDF00;
}
.button-outline {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #fff;
	padding: 10px 25px;
	border: 2px solid #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
	background: rgba(255,255,255,0.15);
}
.button-outline:hover {
	color: #fff;
	background: rgba(255,255,255,0.35);
}
a {
	color: #FFDF00;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.btn {
	border: 0px;
	border-radius: 0px;
}
.btn-primary {
	background: #FFDF00;
}
.form-control {
}
.mrgn30 {
	margin: 30px 0;
}
.copyright {
	color: #A3A3A3;
	background: #333333;
	padding: 20px 0;
}
.copyright a{color: #FFDF00;}
.copyright a:hover{color: #FFFFFF !important;}
#top {
	position: relative;
}
.topHome {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
}
.topHome:hover{
color:#F89F9F;	
	}
/* Header 
----------------------------------------------*/
#section-top {
	background: #4E4E4E;
}
#section-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#section-top ul li {
	display: inline-block;
}
#section-top ul li a {
	border-radius: 2px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
#section-top .region-top-first {
	float: right;
}
.header {
	position: fixed;
	width: 100%;
	background:transparent;
	z-index: 50;
	border-radius: 0;
	top: 35px;  
	
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.addBg {
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	background: #0074DB;
	top:0px;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	background-color: #FFDF00;
}
.navbar-inverse .navbar-toggle .icon-bar {
/*background-color: #FFDF00;*/
 
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #FFDF00;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}
.navbar-toggle {
}
#home{background: #FFFFFF;}
.hero-text {
	color: #676e73;
	width: 83%;
	text-align: center;
	margin: 30% auto 24px auto;
	font-family: 'Oswald', sans-serif;
}
.hero-text p {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 12px 8% 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
/*.carousel-inner*/
#myCarousel {
	margin-top: 50px;
	border-bottom: 4px solid #FFDF00;
}
.carousel-inner > .item {
}
.carousel-caption {
	padding: 0px;
	bottom: 15%;
	height: 80px;
	/* background: rgba(0, 116, 219, 0.58); */
	float: left;
	width: auto; 
}
.carousel-caption h2 {
	font-size: 26px;
	padding: 20px 36px;
	background: rgba(254, 222, 1, 0.88);
	color: #3E3E3E;
	text-shadow: none;
	font-weight: bold;
	display: inline-block;
	margin: 0;
}
.carousel-caption h3 {
	font-size: 18px;
	color: #FEFEFF;
	/* background: rgba(255, 255, 255, 0.31); */
	padding: 20px;
	margin: 0;
}
.actionPanel {
	padding: 25px 0;
	background: #FFDF00;
}
.actionPanel h3 {
	margin: 0px;
}

.circle { 
	height: 90px;
	width: 90px;
	border-radius: 0px;
	color: #FFDF00;
	line-height: 90px !important;
}
#section-strapline {
	background: #86bd2e;
	line-height: 42px;
	clear: both;
}
.banner-caption{
	position:absolute;
	top:200px;
	bottom:150px;
}
/*----Nav ----*/
.header .navbar-brand {
	float: left;
	padding: 22px 15px;
	line-height: 18px;
}
.navbar-brand b {
	color: #FFDF00;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
}
.navbar-brand b i {
	color: #fff;
	font-style: normal;
}
.logo {
	font-size: 2.2em;
	text-shadow: none;
	margin: 8px 0 0 0;
}
.logo:hover {
	color: #5A5A5A;
}
.header .navbar {
	margin: 0;
	background: #0074DB;
	border: 0;
	padding: 0px 15px;
}
.hero-text2{
	padding: 40px 0 52px;
}
.hero-text2 h2{
	font-size: 28px;
	c
	line-height: 36px;
	text-align: left;
	color: #0074DB;
}
.hero-text2 .btn-apply{
margin-top: 39px;
margin-left: 30px;
padding: 15px 46px;
font-size: 20px;
color: #000;
}
.hero-text2 .btn-apply .fa{
padding-right: 15px;
color: #000;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 6px 0px !important;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #FFDF00;
	background: none;
	border-bottom: 2px solid #FFDF00;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active {
}
.navbar-nav > li:hover > a {
	color: #FFDF00;
}
.header .navbar-nav > li > a {
	padding: 25px 18px;
}
.page-section {
	width: 100%;
	height: auto;
	padding: 45px 0 30px;
}
.noPadd {
	padding: 0;
}
.page-section h1 {
	font-size: 3.5em;
	margin: 90px 0 30px;
	line-height: 1.2em;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	color: #FFDF00;
}
.page-section p {
	font-size: 15px;
	line-height: 1.5em;
}
.darkBg {
	background: #000;
}
.darkBg .fa {
	color: #FFDF00;
}
/*--- Banner ----*/
.banner-container {
	width: 100%;
	padding: 0px;
	position: relative;
	border-bottom: 8px solid #0074DB;
}
.banner-container:before {
position: absolute;
width: 100%; 
z-index: 1; 
content: '';
height: inherit;
top: 75px;
bottom: 0px;
}
.banner-container > img {
	width: 100%;
}
.banner-content {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
}
.hero-text h1 {
color: #fff; 
line-height: 1.5em;
font-size: 28px !important;
margin: 37px 0 13px;
font-weight: bolder; 
background: rgba(0, 0, 0, 0.44);
width: 60%;
margin: 0 auto;
padding: 20px 0;
border: dashed 1px rgba(255, 255, 255, 0.6);
text-transform: uppercase;
}
.hero-text p {
	font-size: 1.6em;
	color: #fff;
	font-style: normal; 
	text-shadow: 1px 1px 1px #8F8F8F;
}
.arrow-link {
	display: inline-block;
	font-size: 32px; 
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 50px; 
}
a.arrow-link {
	color: #fff;
}
a.arrow-link i{
font-size:28px;
}
a.arrow-link:hover {
	color: #fff;
}
 
 
.hero-button {
	text-align: center;
	background: rgba(255, 255, 255, 0.36);
	border: 1px solid #fff;
	padding: 20px;
	display: inline-block;
	margin: 0 auto;
	clear: left;
	width: auto;
}
.hero-img {
	text-align: center;
	margin: 124px auto 24px auto;
}
.da-slider {
	margin: 0 auto !important;
}
.heading h2 {
	color: #222;
}
#contactUs .heading h2 { 
}
.sub-heading {
	padding: 15px 0;
}
.sub-heading h2 {
	font-size: 18px;
	margin: 15px 0 8px !important;
}
.sub-heading p {
	color: #5A5A5A;
}
.heading {
	padding: 3px 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	display: block;
}
.heading p {
	font-size: 1.2em;
}
.pdingBtm30 {
	padding-bottom: 30px;
}
.da-arrows span:after {
	width: 25px;
	height: 37px;
}
.da-arrows span {
	position: absolute;
	top: 50%;
	height: 34px;
	width: 34px;
	border-radius: 60px;
	background: none;
}
.da-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.13);
	margin: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
	border: 2px solid #FFDF00;
}
img, video, iframe, embed, object {
	max-width: 100%;
	height: auto;
}
/* Features
    -------------------------------------------------*/
#aboutUs {
	background: #FFFFFF;
	padding: 90px 0 120px;
	overflow: hidden;
}
#aboutUs .feature {
	margin-top: 30px;
	margin-bottom: 54px;
}
#aboutUs .right {
	padding-left: 32px;
	float: right;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs h3 {
	font: 18px/34px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #222;
}
.fluid-video-wrapper {
	margin-top: 18px;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs .right {
	float: right;
}
.row .area1 {
	width: 65%;
}
.row .area2 {
	width: 35%;
}
/* Services
    -------------------------------------------------*/
.grid .text-content {
	padding-left: 35%;
}
.grid .text-content {
	display: block;
	padding-left: 19%;
	padding-right: 8%;
}
.grid .grid-item {
}
.grid .text-content h5 {
	font-weight: bold;
}
.grid .grid-item .item-content {
	display: block;
	outline: none;
	text-decoration: none;
	padding: 20px 0;
}
.item-content .fa {
	position: absolute;
	color: #646464;
	font-size: 4.5em;
	top: 36px;
}
.box-item{background: #FFFFFF;border: 1px solid #CECECE;padding: 25px 10px;}
.box-item p {
font-size: 15px;
line-height: 1.5em;
padding: 0px 12px 26px !important;
}
.box-item:before {width: 60px;height: 60px;background: yellow;float: right;position: absolute;z-index: -1;top: -3px;right: 12px;}
.box-item:after {content: "";width: 60px;height: 60px;float: right;position: absolute;z-index: -1;bottom: 12px;left: 12px;}
ul.list3 {
counter-reset: li;
list-style: none outside none;
margin-bottom: 4em;
padding: 0;
}
ul.list3 li {
position: relative;
padding: 4px 0 5px 37px;
}
ul.list3 li:after {
content: counter(li, decimal-leading-zero);
counter-increment: li;
position: absolute;
left: 0px;
top: 50%;
margin-top: -13px;
font-weight: 700;
border-radius: 100%;
color: #fff;
width: 26px;
height: 26px;
background-color:#FEDE00;
text-align: center;
line-height: 26px;
}
/* Team
    ---------------------------------------------------*/
.team-member {
	margin-bottom: 15px;
}
.member-img {
	overflow: hidden;
	padding: 5px;
	position:relative;
	border: 1px solid #fff;
}
.member-img:before {width: 80px;height: 80px;background: yellow;float: right;position: absolute;z-index: -1;top: -5px;right: 2px;}
.member-img:after {width: 80px;height: 80px;background: yellow;float: right;position: absolute;z-index: -1;bottom: -5px;left: 2px;}
.team-member .member-img img {
	max-width: 250px;
	margin: 0 auto;
}
.team-member h4 {
	font-size: 19px;
	line-height: 32px;
	margin: 10px 0 0;
	text-align: center;
}
.team-member .pos {
	display: block;
	margin: 0;
	text-align: center;
}
.team-title{

}
.team-member .contact a {
	padding: 0 8px;
}
.team-socials {
	position:absolute;
	bottom:70px;
	left:0px;
	right:0px;
}
.team-socials a {
	background: white;
	padding: 7px 0;
	margin: 2px;
}
#contactUs, .parlex-back {
 background:#fff; 
 background-color: #fff !important;
}
#contactUs .btn {
	border-radius: 0px !important;
	background: #FFDF00;
}
.descrition {
	min-height: 90px; 
	padding: 5px 15px;
}
.team-member {
	padding-top: 5px;
}
.team-socials {
	margin: 15px 0;
	opacity: 0;
	text-align: center;
}
.team-member:hover .team-socials {
	opacity: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.team-socials i {
	width: 35px;
	height: 35px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	color: #0074DB;
}
/* --Portfolio----- */
#work {
 background: #DFDFE4;
 padding: 90px 0 120px !important;
}
#work h2 {/* color:#fff; */}
#work p {/* color:#fff; */}
#portfolio {
	width: 100%
}
#portfolio .filters {
	margin-bottom: 20px
}
#portfolio .filters li a {
	color: #999;
	font-weight: 600;
	text-transform: uppercase;
	background: #fff;
	padding: 8px 15px;
}
#portfolio .filters li a, #portfolio .filters li a:hover, #portfolio .filters li a:focus {
	color: #4FA2EC;
}
#portfolio .filters li a.active {
	color: #0074DB !important;
	border-bottom: solid #fff 1px;
}
#portfolio .items {
	margin-bottom: 0
}
#portfolio .items li {
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
}
#portfolio .items li a img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
#portfolio .items li a .overlay span {
	color: #FFF;
	position: absolute;
	height: 50px;
	top: 50%;
	left: 0px;
	right: 0px;
	margin-top: -25px;
	line-height: 50px;
}
#portfolio .items li a:hover .overlay {
	opacity: 1
}
#portfolio .items li a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
nav#filter {
	margin-bottom: 1.5em;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	border: 1px solid #FFDF00;
	text-decoration: none;
}
.current {
	background: #FFDF00;
	color: #fff;
} 
.page-section.intro {
	min-height: 600px;
}
.btn {
	font-weight: 200;
	font-size: 14px;
	padding: 8px 15px;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {
	border-color: #ddd;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #DFDFE4;
}
#navigation {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #ffffff;
	box-shadow: 0 10px 10px -10px #000000;
}
#navigation > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation > li > a {
	margin: 1px;
	color: #000000;
	background: #cccccc;
	display: block;
	padding: 5px;
	text-decoration: none;
	transition: all 400ms;
}
#navigation > li > a.current,  #navigation > li:hover > a {
	background: #999999;
}
.pageSection {
	min-height: 600px;
	padding: 20px;
	background: #dddddd;
}
.pageSection:nth-child(odd) {
	background: #eeeeee;
}
.socialIcons li {
	list-style: none;
	display: inline;
	margin-right: 6px;
}
footer { 
	padding: 45px 0; 
}
.social a:hover {
	color: #000;
}
.social a {
	font-size: 32px;
	margin: 0 10px;
	color: #FFDF00;
}
.contact ul li {
	margin-bottom: 10px;
}
.contact ul li i {
	margin-right: 15px;
}
/*Clients*/
.clients #owl-demo .item {
	background: none;
}
.clients .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.clients .helper img {
	vertical-align: middle;
	max-height: 70px;
	max-width: 80%;
}
.clients .helper:hover {
	cursor: e-resize;
}
.clients .customNavigation > a {
	font-size: 25px;
	cursor: pointer;
	margin: 0px 5px;
}
.portfolio-item img:hover {
	width: 110%;
	height: 110%;
}
footer{
	background: #1B1B1B;
}
footer h4{
font-size:24px;	
padding-bottom:12px;
}
footer .col ul {
margin: 0;
padding: 0;
list-style: none;
}
footer .col ul li, footer .col p {
font-size: 14px;
}
footer .col.col-social-icons i {width: 40px;height: 40px;display: inline-block;padding: 10px;margin-right: 10px;margin-bottom: 10px;text-align: center;font-size: 18px;color: #4E4E4E;border-radius: 0px;border: 1px solid #4C4C4C;}
footer .col.col-social-icons i:hover{
color:#FFDF00;
}
footer input.form-control{
	padding: 18px 10px;
} 
.area1 a{
	margin-bottom:10px;
}
#Features{padding: 90px 0 90px;}
.carousel-control{
	display:none;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure {
position: relative;
float: left;
overflow: hidden;
margin: 0px;
min-width: 100%;
max-width: 100%;
max-height: 360px;
width: 48%;
background: #3085a3;
text-align: center;
cursor: pointer;
}
figure figcaption, figure figcaption > a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
figure figcaption {padding: 2em;color: #FEDE01;text-transform: uppercase;font-size: 1.25em;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
figure.effect-bubba { 
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	font-size:20px;
	padding-top: 30%;
	color:#fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity: 0;
}

figure.effect-bubba a {
top: 30%;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
color:#fff !important;
font-size:14px;
z-index:100;
} 
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover a {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


  
 .carousel-inner .item {
      opacity: 0;
      transition-property: opacity;
    }

 .carousel-inner .active {
      opacity: 1;
    }

 .carousel-inner  .active.left,
 .carousel-inner .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

 .carousel-inner .next.left,
 .carousel-inner .prev.right {
      opacity: 1;
    } 

 .carousel-inner .carousel-control {
    z-index: 2;
  } 


 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) { 
}

.item:nth-child(2) { 
}

.item:nth-child(3) { 
}
 .feature-media img {
    margin: 28px 0 0 0;
}
footer .form-control{
	border:none;
}
.help-block ul li {
    list-style: none;
    color: red;
}
@media (min-width: 768px) {
.header .navbar-brand {
	padding-left: 0;
}
.navbar-nav {
	float: right; 
} 
.navbar-inverse .navbar-nav > li > a {
color: #fff;
font-size: 1.1em;
padding: 6px 0px !important;
border-radius: 5px;
margin: 34px 10px;
} 

}
@media (min-width: 768px) and (max-width:880px){
.header .navbar-brand {
padding-left: 0;
width: 101%;
margin-left: -15px;
}	
#portfolio .items li{
	width:49%;
}
}
@media (max-width: 768px) {
   
.navbar-inverse .navbar-nav > li > a {font-size: 1.1em;padding: 6px 0px !important;border-radius: 5px;margin: 6px 0;}
.navbar-toggle{
margin-top: 36px;
}
.banner-container {
	background-size: contain;
}
.row .six {
	width: auto;
}
.da-slide h2 {
	font-size: 28px;
}
.banner-content p {
	font-size: 1.2em;
	text-shadow: none;
}
.hero-img {
	display: none;
}
.da-slide p {
	width: 67%;
	top: 122px;
}
.team-member .member-img img {
	max-width: 100%;
}
.da-slider {
	height: 380px;
	width: 100%;
	min-width: initial;
	margin: 0px !important;
}
.header .navbar-nav > li > a {
	padding: 25px 12px;
}
#portfolio .items li{
	width:49%;
}
.portfolio-item img {
	text-decoration: none;
	display: block;
	width: 330px;
	height: 228px;
	float: left;
	margin: 0 3px 3px 0;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info {
	padding: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 1em;
} 
}

@media (max-width:760px) {
.header .navbar-nav > li > a {
	padding: 7px 12px;
	font-size: 14px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #A8A8A8;
}
.row .area1, .row .area2 { 
display: block;
width: 100%;
}
.hero-text2 {
padding: 10px 0;
text-align: center;
}
.hero-text2 h3 {
font-size: 16px;
color: #777777;
line-height: 28px;
text-align: center;
}
#home{ 
background: rgb(34, 34, 34);
}
.carousel, .carousel-inner, .carousel-inner .item {
height: auto !important;
}
#portfolio .items li{
	width:49%;
}
}

@media (max-width: 480px) {
.navbar-inverse .navbar-nav > li > a { 
font-size: 1.1em;
padding: 6px 0px !important;
border-radius: 5px;
margin: 3px 10px;
}
	.header .navbar-brand {
float: left;
padding: 22px 15px;
line-height: 18px;
width: 69%;
margin-left: -25px;
}
.page-section { 
padding: 22px 0 !important;
}
.banner-container {
	background-size: contain;
}
.banner-container > img {
	width: 100%;
	height: 240px;
}
.responsive-headline {
	font-size: 16px !important
}
.hero-text {
	margin-top: 29%;
}
.navbar {
	min-height: 69px;
}
.arrow-link {
	display: none;
}
.da-slide h2 {
	font-size: 22px;
	top: 7px;
	text-shadow: none;
}
.da-slide p {
	width: 65%;
	top: 42px;
	height: 50px;
}
#section-top ul li a {
	height: 28px;
	line-height: 28px;
	width: 26px;
}
.team-socials a {
	background: white;
	padding: 1px 0;
	margin: 2px;
}
.team-socials i {
	width: 19px;
	height: 19px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}
.page-section {
	padding: 0px;
}
.page-section h1 {
	font-size: 3em;
}
.page-section h2 {
	font-size: 2em;
}
.page-section p {
	font-size: 1em;
	margin: 0 0 20px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 11px;
} 
.featured {
-webkit-transform: scale(1) !important;
-ms-transform:scale(1) !important;
transform: scale(1) !important;
}
#portfolio .items li{
	width:98%;
}
}

@media (max-width: 320px) {
.banner-container {
	background-size: contain;
}
.da-slider {
	height: 300px;
}
.da-slider {
	width: 100%;
	min-width: initial;
	position: relative;
	margin: 0 auto;
}
.da-dots {
	bottom: 2px;
}
.grid .text-content {
	padding-left: 29%;
	padding-right: 2%;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	margin: 10px 0 0 0;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 23px 5px;
}
 
}
#owl-demo .item {
	background: #3fbf79;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.customNavigation {
	text-align: center;
}
.customNavigation a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.contact-parlex {
	padding-top: 0px;  
	background:#161616;
}
.parlex-back {
	padding: 30px 0; 
}
.form-group lable{
	color:#4a4a4a !important;
}
.parlex-back .heading p { 
}
#clients {
	background: #fff;
}
/*Price table*/
.flat .plan {
	border-radius: 0px;
	list-style: none;
	padding: 0 0 20px;
	margin: 0 0 15px;
	background: #fff;
	text-align: center;
	border: 1px solid #E7E6E6;
}
.flat .plan li {
	padding: 10px 15px;
	color: #ABABAB;
	border-top: 1px solid #f5f5f5;
	-webkit-transition: 300ms;
	transition: 300ms;
}
.flat .plan li.plan-price {
	border-top: 0;
}
.flat .plan li.plan-name {
	border-radius: 0;
	padding: 15px;
	font-size: 24px;
	line-height: 24px;
	color: #0074DB;
	background: #EAEAEA;
	margin-bottom: 30px;
	border-top: 0;
}
.flat .plan li > strong {
	color: #6B6B6B;
	font-weight: normal;
}
.flat .plan li.plan-action {
	margin-top: 10px;
	border-top: 0;
}
.flat .plan.featured {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
	background: #0074DB !important;
	color: #fff;
}
.customNavigation {
	display: none;
}
#clients .heading {
	margin: 0px;
}
.isotope-item {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	opacity: 1;
}
.isotopeWrapper article {
	margin: 0px;
}
.section-padding{
	padding: 60px 0;
}


.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.side-tab:hover {
        cursor: pointer;
    }
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .panel-heading {
        border: none;
        background-color: #DEDEDE;
        padding: 16px;
        border-radius: 0;
    }
    .panel-body {
        background-color: #f5f5f5;
    }
    .panel-title {
        font-weight: 400;
        color: #565656;
    }

 section#price {
    background: #fff;
    padding: 90px 0 120px;
}