@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);

#mainform {
    width: 960px;
    margin: 20px auto;
    padding-top: 20px;
    font-family: 'Fauna One', serif;
}

#form {
    border-radius: 2px;
    padding: 20px 30px;
    box-shadow: 0 0 15px;
    font-size: 14px;
    font-weight: bold;
    width: 350px;
    margin: 20px 250px 0 35px;
    float: left;
}

h3 {
    text-align: center;
    font-size: 20px;
}

input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
}

input[type=button] {
    background-color: #123456;
    border: 1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight: bold;
    font-size: 18px;
    color: white;
}

textarea {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    resize: none;
}

span {
    color: red;
}

#note {
    color: black;
    font-Weight: 400;
}

#returnmessage {
    font-size: 14px;
    color: green;
    text-align: center;
}