/* templatemo.com 396 smoothy */

/* 
Smoothy Template 
http://www.templatemo.com/preview/templatemo_396_smoothy 
*/

html, body {
	font-family: 'Open Sans', sans-serif;
	padding: 0px; 
	margin: 0px; 
	color: #8a8a8a;
}

a {
	color: #727A7C;
}

a:hover {
	text-decoration: none;
}

p {
	color: #C5BDBD;
}

.height10 { height: 10px; }
.height20 { height: 20px; }

h1, h2, h3, h4, h5, h6 {
	font-family: Shadows Into Light;
	font-weight: 400;
}

h1	{	font-size: 1.5em;
	color: #ffffff;
	background: #343537;
	padding: 10px 8px;
	float: left;
	}
	
h2	{ font-size: 37px; color: #333333; }

.templatemo_reasonbg h2, .templatemo_blog h2,  .templatemo_lightgrey h2 { color: #ffffff; }

img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}
.clear	{ clear: both;}

.mWrapper {
  	width: 100%;
  	background-color: white;
  	z-index: 5000;
}

.templatemo_top	{
	position: fixed;
	z-index: 5000;
	background: #ffffff;
	width: 100%;

}

.templatemo_slider {
	top: 60px;
	position: relative;
}
.logo {
	padding: 11px;
	width: 170px;
}

/* .logo img{
	max-width: 100px;
	max-height: 100px;
} */
.mainMenu {

}
.mainMenu ul {
	float: right;
	padding-left: 0;
	margin-bottom: 0;
	line-height: 60px;
}
.mainMenu li {
	list-style-type: none;
	display: inline-block;
}
.mainMenu li a {
	display: block;
	text-transform: uppercase;
	color: #939393;
}

#top-menu {
    background: white;
	font-family: Shadows Into Light;
}
#top-menu ul { float: right;}
#top-menu li {
    float: left;
	line-height: 60px;
	display: inline-block;
}

#top-menu a {
    display: block;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: #666;
    text-decoration: none;
	font-size: 24px;
	font-weight: 500;
}

#top-menu a:hover {
    color: #ffffff;
	background: #901a49  ;
/* 	font-family: Shadows Into Light;
	font-size: 20px; */
	/* font-weight: 700; */
}

#top-menu li.active a {
    color: #ffffff;
	background: #901a49  ;
	line-height: 60px;
	/* font-size: 20px; */
	/* font-family: Shadows Into Light; */
	/* font-weight: 800; */
}

/* .btn-primary {
	background-color: #333c65;
	border-color: #333c65;
} */

/* .btn-primary:hover {
	background-color: #727A7C;
	border-color: #727A7C;
	color: #FFF;
} */

.btn-secondary {
	background-color: #e3e3e3  ;
	border-color: #e3e3e3  ;
	color: #292828;
}

.btn-secondary:hover {
	background-color: #727A7C;
	border-color: #727A7C;
	color: #FFF;
}

.templatemo_caption p { color: #ffffff; background: rgba(0, 0, 0, 0.32); padding: 10px; font-size: 12px; }

.templatemo_caption	{
	margin-left: 20%;
	text-align: left;
	text-shadow: none;
	top: 25%;
	position: absolute;
	z-index: 10;
	width: 60%;
}

.templatemo_slidetitle	{
	font-size: 1em;
	background: #ffffff;
	padding: 5px 8px;
	color: #202224;
	float: left;
	margin-bottom: -10px;
	-webkit-box-shadow: 1px 3px 13px 0px rgba(158, 158, 158, 0.75);
	-moz-box-shadow:    1px 3px 13px 0px rgba(158, 158, 158, 0.75);
	box-shadow:         1px 3px 13px 0px rgba(158, 158, 158, 0.75);
}

.templatemo_lightgrey_about	{
	background-color: #FFFFFF;
	padding: 100px 0px 50px 0px;

}

.templatemo_lightgrey {
	background-color: #901a49  ;
	padding: 60px 0 40px 0;

}

.templatemo_paracenter { text-align: center; }

.templatemo_about_box {
	background: #ffffff;
	border-radius: 5px;
	padding: 20px 0px;
	text-align: center;
	color:black;
	font-weight:500;
}

.square_coner {
	margin: 0 auto;
	width: 100px;
	margin-bottom: 20px;

}
.texts-a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 20px 30px;
	background: #901a49  ;
	border-radius: 5px;
	font-size: 32px;
	color: #ffffff;
} 

.hover-box {
    position: absolute;
    top: 0;
    left: 4%;
    width: 92%;
    height: 100%;
	border-radius: 5px;
    background: #901a49  ;
    visibility: hidden\0/;
    opacity: 0\0/;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transform: rotateY(-90deg) scale(0.8);
    -moz-transform: rotateY(-90deg) scale(0.8);
    -ms-transform: rotateY(-90deg) scale(0.8);
    -o-transform: rotateY(-90deg) scale(0.8);
    transform: rotateY(-90deg) scale(0.8);
}

.project-post:hover .hover-box {
    visibility: visible;\0/;
    opacity: 1\0/;
    -webkit-transform: rotateY(0deg) scale(1);
    -moz-transform: rotateY(0deg) scale(1);
    -ms-transform: rotateY(0deg) scale(1);
    -o-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
}

.inner-hover-box p {
	color: #ffffff;
	padding: 15px 10px;
}

.templatemo_reasonbg {
	/* background-image: url(../images/templatemo_reasonbg.jpg);
	background-repeat: repeat; */
	background-color: #39393c; 
	/* background-position: center; */
	padding: 60px 0px 50px 0px;
	color: #ffffff;
	text-align: center;
}

.cliente {
	padding: 20px 0px 0px 0px !important;
}

.templatemo_reasonbg p { color: ##C5BDBD; }

.templatemo_reasonbg div.fa {
	font-size: 40px;
	margin: 10px 8px;
}

.templatemo_portfolio {
	padding: 60px 0px;
	text-align: center;
	background-color: #901a49;
/* 	border-top-style: solid;
	border-bottom: solid;
	border-width:5px;
	border-color:#fff; */
	color: #C5BDBD;
}

.templatemo_portfolio h2{
	color: #FFF;
}
.templatemo_portfolio p { padding-bottom: 0; }

.templatemo_portfolio ul { text-align: left;}

.templatemo_portfolio li{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
/* 	color: #8a8a8a; */
	/* text-align: justify; */
	padding: 0px 10px 0px 10px;
}

.templatemo_portfolio ul li:before {
    content: "\002022 ";
    color: #39393c; 
	font-size: 2.5em;
    vertical-align: middle;
	line-height: 30px;
	margin-right: 10px;
}

.portfolio-thumb { overflow: hidden; position: relative; }

.portfolio-thumb img { width: 100%; height: auto; }

.portfolio-thumb .overlay-p { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #4E5354; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.portfolio-thumb .overlay-p a { position: absolute; top: 10%; margin-top: -12px; left: 10%; width: 80%; margin-left: -15px; color: white; text-align: center; }
.portfolio-thumb .overlay-p a ul { text-align: center; margin-top:0.1em;}
.portfolio-thumb .overlay-p a ul li	{ padding: 0.2em 0em; margin: 0px; width: 100%; list-style: none;}
.portfolio-thumb .overlay-p a ul li.fsmall{ font-size: 0.7em; }

.portfolio-item { margin-bottom: 40px; overflow: hidden; }
.portfolio-item:hover .overlay-p { visibility: visible; opacity: 1; }

.portfolio-title { width: 100%; text-align: center; }
.portfolio-title a { color: #38e395; font-size: 18px; text-transform: uppercase; }


.templatemo_blog {
	width: 100%;
	background: #1f437e      ;
	padding: 80px 0px;
	color: #ffffff;
	text-align: center;
}
.templatemo_blog p { padding-bottom: 50px; }
.templatemo_wrapperblogbox	{	
	float: left;
}
.templatemo_wrapperblogbox a.fa	{ 
	padding: 8px;
	background: #c6cfd3;
	color: #ffffff;
	margin: 0px;
	text-align: left;
	float: left;
	font-size: 18px;
}

.templatemo_wrapperblogbox a.fa:hover {
	background: #C0484A;
}

.templatemo_wrapperblogbox .tooltip1, .templatemo_wrapperblogbox .tooltip2, .templatemo_wrapperblogbox .tooltip3, .templatemo_wrapperblogbox .tooltip4 {
    display: inline;
    position: relative;
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.templatemo_wrapperblogbox .tooltip1:hover:after, .templatemo_wrapperblogbox .tooltip2:hover:after,
.templatemo_wrapperblogbox .tooltip3:hover:after, .templatemo_wrapperblogbox .tooltip4:hover:after {
    background: #C0484A;
    top: 33px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
	font-size: 14px;
	white-space: nowrap;
}
.templatemo_wrapperblogbox .tooltip1:hover:after {
    left: 0px;
}
.templatemo_wrapperblogbox .tooltip2:hover:after {
    left: -33px;
}
.templatemo_wrapperblogbox .tooltip3:hover:after {
    left: -63px;
}

.templatemo_wrapperblogbox .tooltip4:hover:after {
    left: -94px;
}
.templatemo_wrapperblogbox img	{
	width: 100%;
}

.templatemo_blogtext	{
	width: 100%;
}

.templatemo_blogtext span.left	{
	text-align: left;
	width: 70%;
	float: left;
}
.templatemo_blogtext span.right	{
	text-align: right;
	width: 30%;
	float: left;
}
.templatemo_blogtext span.right	a i {
	padding-left: 5px;
	font-size: 9px;
	color: #ffffff;
}
.templatemo_blogtext span.right	a:hover i	{
	color: #C0484A;
}

.templatemo_partner	{ padding: 60px 0px;}

#prev {
  width: 35px;
  height: 50px;
  position: absolute;
  top: 0;
  left:0;
  text-indent: -9999px;
  background: url(../images/prev.png)0px -50px no-repeat;
}

#next {
  width: 35px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: url(../images/next.png)0px -50px no-repeat;
}

#prev:hover, #next:hover {
  background-position: 0px 0px;
}

.partnerWrap {
  margin: 0px 0;
  position: relative;
}
.slideshow { 
  margin: auto;
  width: 80%;
}
.slideshow img { padding: 2px; }
.templatemo_clientwrapper	{
	margin: 0 auto;
	float: none;
	width: 500px;
	padding-right: 0;
	padding-left: 0;
}

.templatemo_clientimage {
	float: left;
	margin-left: 10px;
	margin-top: 148px;
}

.templatemo_clientimage img{
	width: 80px;
	height: 80px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.templatemo_clientimage img:hover { border: 3px solid #C0484A; }

.templatemo_clientdes {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  color: #C5BDBD;
  visibility: hidden;
  opacity: 0;
  width: 90%;

}
.templatemo_clientimage:hover .templatemo_clientdes {
  visibility: visible;
  opacity: 1;

}
.templatemo_clientimage	div.fa	{font-size: 12px; position: absolute;}
.templatemo_clientimage:hover div.fa{ color: #C0484A; font-size: 12px; }
.templatemo_clientimage	div.mleft1	{ left: 40%;}
.templatemo_clientimage	div.mleft2	{ left: 43%;}
.templatemo_clientimage	div.mleft3	{ left: 46%;}
.templatemo_clientimage	div.mleft4	{ left: 49%;}
.templatemo_clientimage	div.mleft5	{ left: 52%;}

.templatemo_maps {
  margin: 50px 0;
  display: block;
  overflow: hidden;
  height: 400px;
}

.fluid-wrapper {
    position: relative;
    /* padding-bottom: 56.25%;  16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border: none;
}
.addr {

}
.addr ul {
  padding-left: 0;
}
.addr ul li {
  list-style-type: none;
} 
.addr ul li i {
  width: 14px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #00ACE9;
  font-size: 18px;
  text-align: center;
}
.templatemo_footer	{
	padding: 40px 0px;
}

.templatemo_footer p {color: #8a8a8a;}

.templatemo_footer ul {
	float: left;
	margin: 0px;
	padding: 0px;
}

.templatemo_footer ul li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.templatemo_footer ul li:before {
    content: "\002022 ";
    color: #C0484A; 
	font-size: 2.5em;
    vertical-align: middle;
	line-height: 30px;
	margin-right: 5px;
}
.templatemo_morelink a{
	float: left;
	color: #5d9e30;
	text-indent: 15px;
}

.templatemo_footer span.left {
	float: left;
	color: #901a49;
	font-size: 1.5em;
	text-align: left;
	line-height: 30px;
}
.templatemo_footer span.right {
	float: left;
}
.templatemo_footer .col-xs-1 {
	padding: 0px;
}
.templatemo_footer .col-xs-11	{
	padding: 0px 0px 0px 10px;
}
.templatemo_footer span.left.fa-envelope { font-size: 1.2em;}

.templatemo_bottom	{ 
	padding: 15px 0px; 
	width: 100%; 
	background: #0F0E0D;
	}
.templatemo_bottom .left { float: left; color: #D2CECE;}
.templatemo_bottom .left a:hover{ color: #3e7ce5;}
.templatemo_bottom .right { float: right;}
.templatemo_bottom .right fa { padding: 15px;}
.templatemo_bottom .right div.soc {
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	background: #c6cfd3;
	color: #333536;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.templatemo_bottom .right a:hover div.soc{
	background: #233b6d;
	color:#FFF;
}

#templatemo_flicker	{}
#templatemo_flicker ul li:before {
    content: none;
    vertical-align: middle;
}

#templatemo_flicker.ddsmoothmenu ul li a {
	width: 55px;
	height: 55px;
	margin-right: 0px;
}

ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#555; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #555; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #555 }

ul.footer_gallery li { display: block; float: left; margin: 0 5px 5px 0 }
ul.footer_gallery li img { }

/* Smartphones (portrait and landscape) ----------- */

@media (max-width:850px){
	.mainMenu li a {		
		font-size: 22px;
	}
	#top-menu li a {		
		font-size: 22px;
	}
	#top-menu li.active a {
	font-size: 22px;
	}
}

@media (max-width:794px){
	.mainMenu li a {		
		font-size: 20px;
	}
	#top-menu li a {		
		font-size: 20px;
	}
	#top-menu li.active a {
	font-size: 20px;
	}
}

@media (max-width:590px){
	.mainMenu li a {		
		font-size: 18px;
	}
	#top-menu li a {		
		font-size: 18px;
	}
	#top-menu li a	{ padding: 0px;}
	#top-menu li.active a {
	font-size: 18px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {
	.mainMenu li a {		
		font-size: 10px;
	}
	#top-menu li a {		
		font-size: 10px;
	}
	#top-menu li a	{ padding: 0px;}
	#top-menu li.active a {
    color: #ffffff;
	background: #C0484A;
	font-size: 10px;
	}
	
	.templatemo_col12	{
		width: 100%;
		margin-bottom: 5px;
	}

	.hover-box {
    left: 3%;
    width: 94%;
	}
	.templatemo_bottom span.left	{ width: 90%; margin-left: 10px;}
	.templatemo_bottom span.right { width: 90%; float: left; margin: 10px;}
}


@media (max-width:600px){
	.templatemo_caption {
		display: none;
	}
}


@media(min-width:500px) and (max-width: 650px){
	.hover-box {
    left: 5%;
    width: 90%;
	}
	
}
@media(max-width:767px){
	.templatemo_col9	{ padding: 0px;}
	.templatemo_slider	{ top: 108px;}
	.templatemo_lightgrey_about	{ padding-top: 140px;}
	.templatemo_reasonbg { padding-top: 40px;}
	.templatemo_portfolio	{ padding-top: 40px; }
	.templatemo_blog	{ padding-top: 40px;}
	.templatemo_partner	{ padding-top: 40px;}
	.templatemo_lightgrey	{ padding-top: 40px;}
	.templatemo_margintop10	{
	margin-top: 10px;
	}
	.mailme {
		
	}
	.logo  img {
		text-align: center;
		max-width: 100px;
		max-height: 100px;
	}
	
	.nivo-prevNav , .nivo-nextNav {
		visibility: hidden;
	}
	
	.socials ul {
		float: none;
		text-align: center;
	}
	
	.mainMenu ul {
		float: none;
		text-align: center;
		line-height: 30px;
	}
	.mainMenu li a {
	padding: 8px 7px;

	}
	#top-menu ul {
		float: none;
		text-align: center;
		line-height: 30px;
		margin-left: 15px;
	}
	#top-menu li {
    float: left;
	line-height: 30px;
}
	#top-menu li a {
	padding: 8px 7px;

	}
	#top-menu li.active a {
    color: #ffffff;
	background: #901a49  ;
	line-height: 30px;
	}
	
  .teamInfo ul li {
    width: 50%;
  }
  .imgWrp {
    height: 220px;
  }
  .imgWrp:hover {
      height: 220px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0;
  }
  .info3 {
    margin-bottom: 30px;
  }
}

@media(min-width:768px){
	.rmargin	{ right: 10%;}
   .socials ul {
    float: none;
    text-align: center;
  }
  .imgWrp {
    height: 160px;
  }
  .imgWrp:hover {
      height: 160px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0px;
  }
  #box-img_testimonial a {
    width: 40px;
  }
  .opener span:before,
  .opener span:after {
    width: 30%;
  }
  .info3 {
    margin-bottom: 30px;
  }

}
@media(min-width:600px) and (max-width:769px){
	h1	{ font-size: 1em;}
	.templatemo_slidetitle { font-size: 0.8em;}
	.templatemo_caption	{ font-size: 12px; top: 20.5%;  width: 90%; margin-left: 5%; }
	.rmargin	{ right: 3%; }
	.btn	{ font-size: 12px; padding: 3px 5px;}
	}
@media(min-width:768px) and (max-width:992px){
	 h1	{ font-size: 1em;}
	.templatemo_slidetitle { font-size: 0.8em;}
	.templatemo_caption	{ font-size: 12px; margin-left: 15%; top: 18%;}
	.btn	{ font-size: 13px; padding: 3px 5px;}
	.templatemo_container {
	width: 100%;
	}
	
	.templatemo_container .mainMenu li a { 
	padding: 10px;
	}
	.templatemo_margintop10	{
	margin-top: 10px;
	}
}

@media(min-width:992px) {
  .imgWrp {
    height: 190px;
    opacity: 0.5;
  }
  .imgWrp:hover {
      height: 220px;
      opacity: 1;
      margin-top: -15px;
  }
  .txtarea {
    margin: 0;
  }
  #box-img_testimonial a {
    width: 50px;
  }
  .opener span:before,
  .opener span:after {
    width: 45%;
  }
  .socials ul {
    float: right;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-width : 540px)	{
	.templatemo_clientwrapper	{ /*width: 320px;*/ font-size: 12px;}
	.templatemo_clientwrapper .next{ margin-top: 20px;}
	.templatemo_marginleft50	{ margin-left: 50px;}
	.templatemo_clientimage	div.fa	{ display: none;}
	.contato {float: left !important;  }	
}


@media only screen 
and (max-device-width : 528px) 
{
	.contato {float: left !important;  }	
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#slider-direction-nav,
	#slider-control-nav { opacity: 0.5; }
}

.lista {
	display: table;
	margin: 0 auto;
	max-width: 80%;
}

.lista ul{
	padding:0;
}

.lista_hover {
	color: #ffffff;
	padding:10px 0 0 0;
	text-align: center;
	list-style: none;
}

teste{
	color: #ffffff;
}

.contato {
	display: table;
	margin: 0 auto;
	float: right;
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  src: local('Shadows Into Light'), 
       local('ShadowsIntoLight'), 
       url(http://fonts.gstatic.com/s/shadowsintolight/v5/clhLqOv7MXn459PTh0gXYFK2TSYBz0eNcHnp4YqE4Ts.woff2) 
       format('woff2'), 
       url(http://fonts.gstatic.com/s/shadowsintolight/v5/clhLqOv7MXn459PTh0gXYHW1xglZCgocDnD_teV2lMU.woff) 
       format('woff');
}

.slideshow img{
	padding:0 20px 0 20px;
}
/*
Mensagem de status do formulário de email*/
#returnmessage {
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Shadows Into Light;
}

.ajustaForm {
  width: 100%;

}

.ajustaFormInner {
	width: 80%; 
	margin: 0 auto;
}

/* .templatemo_lightgrey textarea{
	width: 70%;
} */

.voltarTopo {
    background: none repeat scroll 0 0 red;
    bottom: 60px ;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 60px;
    line-height: 100px;
    position: fixed;
    right: 5px;
    text-transform: uppercase;
    width: 60px;
}